/*
 * CSS definitions for the IDS API Plugin
 */

.ids-mapping-select {
  width: 300px;
}

.ids-categories-container {
  vertical-align: top;
  width: 320px;
}

.ids-settings-separator {
  font-weight:bold;
  margin-top: 10px;
  border-bottom: 1px solid #F0F0F0;
}

.ids-mappings-section {
  border-bottom: 1px solid #F0F0F0;
}

.ids-importer-types {
  border: 1px solid silver;
}

#ids-logo {
  float: right;
  position: relative;
  left: -50px;
  top: 5px;
}

.ids-title-output-importer {
  margin-top:20px;
  margin-bottom:20px;
  font-weight:bold;
  border-bottom: 1px solid #F0F0F0;
}

.ids-item-output-importer {
  margin-left:20px;
  margin-top:5px;
  margin-bottom:5px;
  font-style:italic;
}

.ids-results-import {
  margin-top:20px;
  margin-bottom:20px;
  font-weight:bold;
}

.ids-edit-link {

}

/* Categoy pages */

.ids-category-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

ul.children {
  padding-left: 15px;
  margin: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

li.cat-item {
  margin-left: 5px;
  margin-bottom: 8px;
  background: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: 0 6px;
  padding: 3px;
}

li.cat-item  a {
  margin-left:20px;
}

li.cat-item  p {
  margin-left:20px;
  margin-top: 0;
  margin-bottom: 0;
}

li.cat-item  p  a{
  margin: 0;
}

.ids-category-list li ul.children {
  border: 1px solid whiteSmoke;
}

.ids-import-settings-message {
  margin-top: 40px;
  border: 1px solid #E6E6E6;
  background-color: #BFCEF5;
  padding: 15px;
}

.ids-view-settings-message {
  margin-top: 40px;
  border: 1px solid #E6E6E6;
  background-color: #B7E4B8;
  padding: 15px;
}

/* Admin page */

.clear, #ids_import p.submit, #ids_import .ids-wrap p, #ids_import .ids-wrap h3, div#tips {
  clear: both;
} 	

.ui-tabs {
  background: white;
  padding: 5px;
}

.ui-tabs-nav {
  border-bottom: 1px solid #ccc;
  height: 27px;
  margin: 20px 0;
  padding: 0;
}

.ui-tabs-nav li {
  display: block;
  float: left;
  margin: 0;
}

.ui-tabs-nav li a {
  padding: 4px 20px 6px;
  font-weight: bold;
}

.ui-tabs-nav li a {
  border-style: solid;
  border-color: #CCC #CCC #F9F9F9;
  border-width: 1px 1px 0;
  color: #464646;
  text-shadow: rgba(255, 255, 255, 1) 0 1px 0;
  display: inline-block;
  padding: 4px 14px 6px;
  text-decoration: none;
  margin: 0 6px -1px 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ui-tabs-nav li.ui-tabs-selected, .ui-tabs-nav li.ui-state-active {
  padding-bottom: 1px;
  background: #fff;
}

.ui-tabs-nav li.ui-tabs-selected a, .ui-tabs-nav li.ui-state-active a {
  border-width: 1px;
  color: #21759b;
}

.ui-tabs-panel {
  clear: both;
}

.ids-wrap h3 {
  display: none;
}

.idsimport-admin-col1 {
  border-right: 1px solid lightgrey;
  padding-right: 25px;
}

.idsimport-admin-col2 {
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid lightgrey;
}

.idsimport-admin-col3 {
  padding-left: 25px;
}

/* Widget */

.ids-widget-list {
  font-size: small;
}

.ids-widget-item {
  margin-top: 3px;
  list-style: disc;
}

/* Notifications and error messages */

.ids-notification {
  border: 1px solid lightBlue;
  background-color: ghostWhite;
  padding: 7px;
  margin: 15px 15px 0 0;
}

.ids-warning {
  border: 1px solid lightCoral;
  background-color: lightGoldenrodYellow;
  padding: 7px;
  margin: 15px 15px 0 0;
}

.ids-error {
  border: 1px solid red;
  background-color: lightSalmon;
  padding: 7px;
  margin: 15px 15px 0 0;
}

/* Hide boxes in quick edit area */

.inline-edit-ids_documents .inline-edit-categories {
  display: none;
}

.inline-edit-ids_organisations .inline-edit-categories {
  display: none;
}
